html
  head
    script(src="./app.js")
  body
    h1 URL reader
    input.url-input(type="text")
    button.cta(onclick="handleClick()") fetch
    div.resulttitle
    div.resultExternallinks 
    div.resultInternallinks
    div.resultHeadings_0
    div.resultHeadings_1
    div.resultHeadings_2
    div.resultHeadings_3
    div.resultHeadings_4
    div.resultHeadings_5
    div.resultlogForm


    